
.borders::after {
    content: " ";
    position:absolute;
    z-index: -1;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    border: 5px dotted forestgreen;
  }
.borders{
    position: relative;
    border: solid red;
}