.ex1{
    background-color: lightblue;
    border: 5px solid black;
}
.ex2{
    background-color: lightblue;
    border: 3px solid black;
}.ex3{
    background-color: lightblue;
    border: 1px solid black;
}.ex4{
    background-color: lightblue;
    color: lightblue;
}